@page
@model WebIPSrehabilitation.Pages.Index1Model
@{
}

<!-- Our About -->
<section class="ulockd-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 hvr-float-shadow">
                <div class="about-box">
                    <div class="ab-details">
                        <h2>Welcome to Comfort Home</h2>
                        <p>Regardless of whether you need to stay in your own house, are searching for help with a more established relative, weighing up lodging alternatives or looking for exhortation on paying for care, we can help you.</p>
                        <a class="btn btn-default ulockd-btn-white" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="about-slider text-left">
                    <div class="item">
                        <div class="about-box2 hvr-float-shadow">
                            <div class="ab-thumb">
                                <img class="img-responsive img-whp" src="images/about/2.jpg" alt="2.jpg">
                            </div>
                            <div class="ab-details2">
                                <h4 class="text-thm"> Outdoor Tour</h4>
                                <p>For those of you who have already gone with ElderTreks, you may know one or even a few of our visit pioneers recorded underneath</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-box2 hvr-float-shadow">
                            <div class="ab-thumb">
                                <img class="img-responsive img-whp" src="images/about/3.jpg" alt="3.jpg">
                            </div>
                            <div class="ab-details2">
                                <h4 class="text-thm"> 24h/7days Care</h4>
                                <p>Day in and day out Nursing and Medial Services gives custom-made care to personally in their cabin who are attempting to oversee all alone</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-box2 hvr-float-shadow">
                            <div class="ab-thumb">
                                <img class="img-responsive img-whp" src="images/about/4.jpg" alt="4.jpg">
                            </div>
                            <div class="ab-details2">
                                <h4 class="text-thm"> Independent Living</h4>
                                <p>Places for Independent Living are group based, cross-handicap, non-profit associations that are outlined and worked by individuals</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-box2 hvr-float-shadow">
                            <div class="ab-thumb">
                                <img class="img-responsive img-whp" src="images/about/5.jpg" alt="5.jpg">
                            </div>
                            <div class="ab-details2">
                                <h4 class="text-thm"> Dementia Care</h4>
                                <p>This is me is a basic apparatus for anybody getting proficient care who is living with dementia or is encountering wooziness challenges</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 ulockd-padd395">
                <div class="row ulockd-appointment-form-one">
                    <!-- Appointment Form Starts -->
                    <form id="appointment_form" name="appointment_form" class="appointment_form_one hvr-float-shadow" action="#" method="post" novalidate="novalidate">
                        <div class="messages"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h2 class="text-thm">Appointment</h2>
                            <p>We Will Response As Soon As Possible.</p>
                            <div class="form-group text-left">
                                <input id="form_name" name="form_name" class="form-control" placeholder="Enter a name" required="required" data-error="Name is required." type="text">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group text-left">
                                <input id="form_email" name="form_email" class="form-control required email" placeholder="Enter an email" required="required" data-error="Email is required." type="email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group text-left">
                                <input id="form_date" name="form_date" class="form-control required datepicker" placeholder="Enter a date" required="required" data-error="Subject is required." type="text">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group text-left">
                                <input id="form_phone" name="form_phone" class="form-control required" placeholder="Enter a phone" required="required" data-error="Phone Number is required." type="text">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group text-left">
                                <textarea id="form_message" name="form_message" class="form-control required" rows="3" placeholder="Type in a message" required="required" data-error="Message is required."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group text-center">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" value="" type="hidden">
                                <button type="submit" class="btn btn-lg ulockd-btn-thm" data-loading-text="Getting Few Sec...">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Service -->
<section class="service-two parallax" data-stellar-background-ratio="0.3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-srvc-title hvr-float-shadow">
                    <h2 class="text-uppercase">Awesome <span class="text-thm">Services</span></h2>
                    <p>Comfort Home supplements Glenmoor House, which is another Avery home in Corby, which has joint journeys masterminded.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="ulockd-srvc-column hvr-underline-from-center ulockd-mrgn650">
                    <div class="ulockd-srv-icon pull-left"><span class="flaticon-nurse"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3>Assisted Living</h3>
                        <p>Day in and day out Nursing and Medial Services gives custom-made care to individuals in their cabin who are attempting to oversee.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="ulockd-srvc-column hvr-underline-from-center ulockd-mrgn650">
                    <div class="ulockd-srv-icon pull-left"><span class="flaticon-medical-4"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3>Primary Health</h3>
                        <p>We trust that growth influences each individual in an unexpected way, and that each individual can profit by an interesting, individualized care.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="ulockd-srvc-column hvr-underline-from-center ulockd-mrgn650">
                    <div class="ulockd-srv-icon pull-left"><span class="flaticon-office-block"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3>Resident Care</h3>
                        <p>This level of care and supervision is for individuals who can't live without anyone else's input yet who needn't bother with 24 hour nursing care.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon pull-left"><span class="flaticon-folder"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3>Housekeeping</h3>
                        <p>Our Medical Social Workers take care of patients and families who encounter challenges in adapting to mental, social and emerging from ailment.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon pull-left"><span class="flaticon-cross"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3>Rehabilitation</h3>
                        <p>our Rehabilitation Services gives exhaustive therapeutic and professional recovery to deliver a representative's obstructions to employ ability.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon pull-left"><span class="flaticon-shape-1"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3>Qualified Doctors</h3>
                        <p>Subsequent to giving conclusions, a specialist treats patients who are experiencing sicknesses and wounds. A specialist is likewise called a doctor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our About Page faq Section -->
<section class="ulockd-ap-faq">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <div class="ulockd-faq-box">
                    <div class="ulockd-ap-faq-title clearfix">
                        <h2>Frequently <span class="text-thm"> Asked?</span></h2>
                    </div>
                    <div class="ulockd-faq-content">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa fa-angle-down icon-1"></i>
                                            <i class="fa fa-angle-up icon-2"></i>
                                            What is long-term care?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Long haul mind includes an assortment of administrations intended to meet a man's well being or individual care needs amid a short or drawn out stretch of time. These administrations help individuals live as autonomously and securely as conceivable when they can no longer perform numerous regular exercises all alone.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fa fa-angle-down icon-1"></i>
                                            <i class="fa fa-angle-up icon-2"></i>
                                            What does in-home care cost?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Each Comfort Keepers office is autonomously claimed and worked. We urge you to contact your nearby office straightforwardly for a total rundown of items and administrations accessible, and in addition the rates for your region.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-angle-down icon-1"></i>
                                            <i class="fa fa-angle-up icon-2"></i>
                                            Are services accessible 24 hours, 7 days?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Yes. Administrations are accessible for as meager as a couple of hours a visit up to 24 hours, 7 days seven days, 365 days a year.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <h2 class="ulockd-mrgn120">Comfort Home  <span class="text-thm">Activity</span></h2>
                <div class="ulockd-about-video ulockd-mrgn1225">
                    <div class="ulockd-avdo-thumb">
                        <iframe class="ulockd-frame2" src="http://www.youtube.com/embed/6t79c4Zzngw?autoplay=0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our First Divider -->
<section class="ulockd-frst-divider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ulockd-dvidr-mttl">We Offer Quality Full and Affordable Service For You.</h2>
                <div class="ulockd-dvidr-btn text-uppercase"><a class="btn btn-default ulockd-btn-white hvr-overline-from-center" href="#">Get Appointment</a></div>
            </div>
        </div>
    </div>
</section>