@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
<script type="text/javascript" src="~/js/jsTemplateIPS/slider.js"></script>
<script type="text/javascript" src="~/js/jsTemplateIPS/bootstrap.min.js"></script>
}
<!-- Home Design -->
<div class="home-slider home4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ulockd-pmz">
                <div class="ulockd-main-slider2">
                    <div class="item">
                        <div class="caption text-left">
                            <div class="ulockd-slider-text1 wow fadeInUp" data-wow-duration="300ms" data-wow-delay=".3s">Estamos</div>
                            <div class="ulockd-slider-text2 wow fadeInUp" data-wow-duration="600ms" data-wow-delay=".6s">Comprometidos</div>
                            <div class="ulockd-slider-text3 wow fadeInUp" data-wow-duration="900ms" data-wow-delay=".9s">
                                <p>en desarrollo de buenas prácticas de seguridad y efectividad en la prestación de los servicios, cumpliendo con procesos que fomenten en nuestro equipo de trabajo una cultura de calidad asistencial orientada en el cuidado.</p>
                            </div>
                        </div>
                        <img class="img-responsive img-whp" src="images/h1.jpg" alt="h1.jpg">
                    </div>
                    <div class="item">
                        <div class="caption text-center">
                            <div class="ulockd-slider-text1 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1.5s">En </div>
                            <div class="ulockd-slider-text2 wow fadeInUp" data-wow-duration="1800ms" data-wow-delay="1.8s">nuestra institución</div>
                            <div class="ulockd-slider-text3 wow fadeInUp" data-wow-duration="2100ms" data-wow-delay="2.1s">
                                <p>tendrá a su disposición la experiencia profesional orientada a la prestación de los servicios de salud, entendido como un servicio publico esencial y como parte integrante del Sistema General de Seguridad Social en Salud en el ámbito público y privado. </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Our About -->
<section class="ulockd-about">
    <div class="container">
        <div class="row ulockd-mrgn1250">
            <div class="col-sm-12 col-md-3">
                <div class="ulockd-about-thumb home4">
                    <img class="img-responsive img-whp" src="images/1r.jpg" alt="1.png">
                </div>
            </div>
            <div class="col-md-5">
                <div class="ulockd-about2-details home4">
                    <h2><span class="text-thm">En I.P.S TOTAL REHABILITATION SAS</span></h2>
                    <p class="ulockd-about-para">prestamos servicios de promoción, prevención, atención, tratamiento, rehabilitación y paliación en salud, minimizando el riesgo en el usuario, la familia y comunidad con responsabilidad confidencialidad y ética.</p>                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="ulockd-apmnmnt-schedule">
                    <table class="table ulockd-one">
                        <caption><h3>Estamos para atenderte.</h3></caption>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Our Team -->
<section class="ulockd-team">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-team-title hvr-float-shadow">
                    <h2 class="text-uppercase">SOMOS <span class="text-thm">EXPERTOS</span></h2>
                    <p>en cuidar de tu salud, con los mejores profesionales en el area que requieras.</p>
                </div>
            </div>
        </div>
    </div>
</section>
